<ul>
    <div id= "page1" class="card-columns">
      <div class="rounded">
        <div class="card p-3" *ngFor='let qt of quotes1' style="background-color:aqua">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <blockquote class="blockquote">
            {{qt.quote}}
            <footer class="blockquote-footer text-left">
              <cite title="">{{qt.author}}</cite>
            </footer>
          </blockquote>
          <a target="blank" [href] = "'https://twitter.com/intent/tweet?text='+ quote"
          class="btn btn-outline-success" style="opacity:2"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </ul>