<!-- FIRST SECTION -->


<header>
  <div class="jumbotron">
    <div class="large-header">
      <h1> My Quotes </h1>
    </div>
  </div>
</header>

<app-quote-form>
  <a href="https://codepen.io/ARS" target="_blank">
    <span>Create Quote</span>
  </a>
</app-quote-form>

<!-- Quotes display section -->
<!-- page 1 -->
<ul>
  <div id="page1" class="card-columns">
    <div class="rounded">
      <div class="card p-3" *ngFor='let qt of quotes1' style="background-color:aqua">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <blockquote class="blockquote">
          {{qt.quote}}
          <footer class="blockquote-footer text-left">
            <cite title="">{{qt.author}}</cite>
          </footer>
        </blockquote>
        <a target="blank" [href]="'https://twitter.com/intent/tweet?text='+ quote" class="btn btn-outline-success" style="opacity:2">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>


  <!-- page 2 -->
  <!-- <app-page-two></app-page-two> -->
  <ul>
    <div id="page2" class="card-columns">
      <div class="rounded">
        <div class="card p-3" *ngFor='let qt of quotes2' style="background-color:aqua">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <blockquote class="blockquote">
            {{qt.quote}}
            <footer class="blockquote-footer text-left">
              <cite title="">{{qt.author}}</cite>
            </footer>
          </blockquote>
          <a target="blank" [href]="'https://twitter.com/intent/tweet?text='+ quote" class="btn btn-outline-success" style="opacity:2">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- <app-page-two></app-page-two> -->

    <!-- page 3 -->
    <ul>
      <div id="page3" class="card-columns">
        <div class="rounded">
          <div class="card p-3" *ngFor='let qt of quotes3' style="background-color:aqua">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <blockquote class="blockquote">
              {{qt.quote}}
              <footer class="blockquote-footer text-left">
                <cite title="">{{qt.author}}</cite>
              </footer>
            </blockquote>
            <a target="blank" [href]="'https://twitter.com/intent/tweet?text='+ quote" class="btn btn-outline-success" style="opacity:2">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </ul>

    <!-- page 4 -->
    <ul>
      <div class="card-columns">
        <div class="rounded">
          <div class="card p-3" *ngFor='let qt of quotes4' style="background-color:aqua">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <blockquote class="blockquote">
              {{qt.quote}}
              <footer class="blockquote-footer text-left">
                <cite title="">{{qt.author}}</cite>
              </footer>
            </blockquote>
            <a target="blank" [href]="'https://twitter.com/intent/tweet?text='+ quote" class="btn btn-outline-success" style="opacity:2">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </ul>

    <!-- page 5 -->
    <ul>
      <div class="card-columns">
        <div class="rounded">
          <div class="card p-3" *ngFor='let qt of quotes5' style="background-color:aqua">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <blockquote class="blockquote">
              {{qt.quote}}
              <footer class="blockquote-footer text-left">
                <cite title="">{{qt.author}}</cite>
              </footer>
            </blockquote>
            <a target="blank" [href]="'https://twitter.com/intent/tweet?text='+ quote" class="btn btn-outline-success" style="opacity:2">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </ul>


    <!-- pagination area -->

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#!" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="page1!">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="page2!">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="page3!">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#!" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- <button (click) = 'quoteDelete(true)'> X </button> -->
