<!-- FIRST SECTION -->


<header>
  <div class="jumbotron">
    <div class="large-header">
      <h1> My Quotes </h1>
    </div>
  </div>
</header>


<!-- Quotes display section -->
 <!-- page 1 -->
<ul>
  <div class="card-columns">
    <div class="rounded">
      <div class="card p-3" *ngFor='let qt of quotes1' style="background-color:aqua">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <blockquote class="blockquote">
          {{qt.quote}}
          <footer class="blockquote-footer text-left">
            <cite title="">{{qt.author}}</cite>
          </footer>
        </blockquote>
        <a target="blank" [href] = "'https://twitter.com/intent/tweet?text='+ quote"
        class="btn btn-outline-success" style="opacity:2"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <!-- </div> -->
</ul>

<!-- page 2 -->
<ul>
  <div class="card-columns">
    <div class="rounded">
      <div class="card p-3" *ngFor='let qt of quotes2' style="background-color:aqua">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <blockquote class="blockquote">
          {{qt.quote}}
          <footer class="blockquote-footer text-left">
            <cite title="">{{qt.author}}</cite>
          </footer>
        </blockquote>
        <a target="blank" [href] = "'https://twitter.com/intent/tweet?text='+ quote"
        class="btn btn-outline-success" style="opacity:2"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <!-- </div> -->
</ul>

<!-- page 3 -->
<ul>
  <div class="card-columns">
    <div class="rounded">
      <div class="card p-3" *ngFor='let qt of quotes3' style="background-color:aqua">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <blockquote class="blockquote">
          {{qt.quote}}
          <footer class="blockquote-footer text-left">
            <cite title="">{{qt.author}}</cite>
          </footer>
        </blockquote>
        <a target="blank" [href] = "'https://twitter.com/intent/tweet?text='+ quote"
        class="btn btn-outline-success" style="opacity:2"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <!-- </div> -->
</ul>

<!-- page 4 -->
<ul>
  <div class="card-columns">
    <div class="rounded">
      <div class="card p-3" *ngFor='let qt of quotes4' style="background-color:aqua">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <blockquote class="blockquote">
          {{qt.quote}}
          <footer class="blockquote-footer text-left">
            <cite title="">{{qt.author}}</cite>
          </footer>
        </blockquote>
        <a target="blank" [href] = "'https://twitter.com/intent/tweet?text='+ quote"
        class="btn btn-outline-success" style="opacity:2"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <!-- </div> -->
</ul>

<!-- page 5 -->
<ul>
  <div class="card-columns">
    <div class="rounded">
      <div class="card p-3" *ngFor='let qt of quotes5' style="background-color:aqua">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <blockquote class="blockquote">
          {{qt.quote}}
          <footer class="blockquote-footer text-left">
            <cite title="">{{qt.author}}</cite>
          </footer>
        </blockquote>
        <a target="blank" [href] = "'https://twitter.com/intent/tweet?text='+ quote"
        class="btn btn-outline-success" style="opacity:2"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <!-- </div> -->
</ul>

<!-- <button (click) = 'quoteDelete(true)'> X </button> -->
