<!-- FIRST SECTION -->

  <div class="jumbotron">
    <header>
      <div class="content">
        <div class="large-header">
          <h1> My Quotes </h1>
        </div>
      </div>
    </header>
  </div>

<!-- Quotes display section -->
<ul>
  <div class="card-columns">
    <div class="rounded">
      <div class="card p-3" *ngFor='let qt of quotes' style="background-color:aqua">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <blockquote class="blockquote">
          {{qt.quote}}
          <footer class="blockquote-footer text-left">
            <cite title="">{{qt.author}}</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
  <!-- </div> -->
</ul>

<!-- <button (click) = 'quoteDelete(true)'> X </button> -->
